*{
	margin: auto;
	background: ;
	width: 94%;
	height: 100%;
}

#body{
	margin: 2%;
	background: grey;
	width: 100%;
	height: 90%;
	margin-right:0px;
}
.a2{
	background: goldenrod;
	width: 100%;
	height: 100%;
}

/* part 1 text 1*/
.a21{
	background: ;
	height: 81%;
	width: 50%;
	position: relative;
	float: left;
	margin-top: 8.3%;
}

/* part 2 text 1*/
.a22{
	background: ;
	height: 81%;
	width: 50%;
	position: relative;
	float: left;
	margin-top: 8.3%;
}

.a211{
	
	background: ;
}
.a2111{
	font-size: 350%;
	padding-left:%;
	background:;
	height:66%;
	margin-left:8%;
	margin-top:-3.5%;
}
	
small{font-size: 33%;
    padding-left:%;
	background: ;
	margin-left:.7%;
}

.a2112{
	font-size: 100%;
	background: ;
	height: 15%;
	margin-left:8%;
	margin-top: %;
}

.a2113{
	background: darkcyan;
  border: none;
  font-size: 20px;
  width: 100%;
  margin-left: 8%;
  height: 35px;
  border-radius: 20px;
  margin-top: %;
}





.a11{
	width: 70%;
    height: 5%;
    position: absolute;
	list-style: none;
	background: ;
	margin-left: %;
}

/*li bar*/
.a13{
	float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 1.5%;
  background: ;
  font-weight:bold ;
  font-size: 150%;
  
}

.a15{
	float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 1.5%;
  background: ;
  font-weight:bold ;
  font-size: 150%;
}

.a17{
	float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 1.5%;
  background: ;
  font-weight:bold ;
  font-size: 150%;
}

.a19{
	float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 1%;
  background: ;
  font-weight:bold ;
  font-size: 200%;
}

.a:link{
  color: white;
}
.a:visited{
  color: Balck;
}
.a:hover{
  color: blue;
}
.a:active{
  color: brown;
}



.n1{
	width:70%;
	height: 6%;
	background:;
	margin-left: 30%;
	margin-top:0%;
}



p{
	margin-left: 8%;
	padding-top: %;
}

.h1{
	width:25%;
	height:6%;
	background:;
	float:left;
	margin-left:4%;
	font-size: 400%;
	font-family: ;
}
